# Copy this file to .env and fill with your real values
DISCORD_TOKEN=
CLIENT_ID=
PUBLIC_KEY=
GUILD_ID_TEST=
GUILD_ID_PROD=
DEPLOY_TARGET=test # default to 'test' or 'prod' when running deploy-commands

